/Backend/BattleBot/.idea/
/Backend/BattleBot/target/
/Backend/BattleBot/.idea/
/.idea/
/Data/statCalcData/
/Data/sql/
/BattleBot-DiscordBot/node_modules/
/Data/statCalcData/
/Data/.env
/BattleBot-DiscordBot/.env
/Backend/BattleBot/.env